body {
  color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .name {
      width: 100%;
      position: absolute;
      left: 0;
    }
    .gender {
      font-size: 0.8em;
      position: absolute;
      left: 0;
    }
    .hobby {
      width: 100%;
      position: absolute;
      left: 0;
    }
    .introduction {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
}

.posts {
  .post {
    position: relative;
    width: 350px;
    .date {
      font-size: 0.6em;
      color: #999999;
    }
     .name {
      width: 100%;
      position: absolute;
      font-color: red;
      left: 0;
    }
    .gender {
      font-size: 0.8em;
      position: absolute;
      left: 0;
    }
    .hobby {
      width: 100%;
      position: absolute;
      left: 0;
    }
    .introduction {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
}