body {
  color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .name h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .gender {
  font-size: 0.8em;
}

.headline .caption .hobby {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .introduction {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.posts .post .name h1 {
  color: #fff;
  font-size: 1.2em;
}

.posts .post .gender {
  font-size: 0.8em;
}

.posts .post .hobby {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.posts .post .introduction {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

